<div>
    <h2 id="page-heading">
        <span jhiTranslate="notgen3App.setting.home.title">Settings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-setting" [routerLink]="['/setting/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="notgen3App.setting.home.createLabel">
            Create a new Setting
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="settings?.length === 0">
        <span jhiTranslate="notgen3App.setting.home.notFound">No settings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="settings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.setting.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.setting.instrument">Instrument</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let setting of settings ;trackBy: trackId">
                    <td><a [routerLink]="['/setting', setting.id, 'view']">{{ setting.id }}</a></td>
                    <td>{{ setting.name }}</td>
                    <td>
                        <span *ngFor="let instrument of setting.instruments; let last = last">
                            <a class="form-control-static" [routerLink]="['/instrument', instrument?.id, 'view']">{{ instrument.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/setting', setting.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/setting', setting.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(setting)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
