<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="song">
            <h2><span jhiTranslate="notgen3App.song.detail.title">Song</span> {{ song.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="notgen3App.song.title">Title</span></dt>
                <dd>
                    <span>{{ song.title }}</span>
                </dd>
                <dt><span jhiTranslate="notgen3App.song.subTitle">Sub Title</span></dt>
                <dd>
                    <span>{{ song.subTitle }}</span>
                </dd>
                <dt><span jhiTranslate="notgen3App.song.genre">Genre</span></dt>
                <dd>
                    <span>{{ song.genre }}</span>
                </dd>
                <dt><span jhiTranslate="notgen3App.song.composer">Composer</span></dt>
                <dd>
                    <span>{{ song.composer }}</span>
                </dd>
                <dt><span jhiTranslate="notgen3App.song.author">Author</span></dt>
                <dd>
                    <span>{{ song.author }}</span>
                </dd>
                <dt><span jhiTranslate="notgen3App.song.arranger">Arranger</span></dt>
                <dd>
                    <span>{{ song.arranger }}</span>
                </dd>
                <dt><span jhiTranslate="notgen3App.song.year">Year</span></dt>
                <dd>
                    <span>{{ song.year }}</span>
                </dd>
                <dt><span jhiTranslate="notgen3App.song.publisher">Publisher</span></dt>
                <dd>
                    <span>{{ song.publisher }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/song', song.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
