<div>
    <h2 id="page-heading">
        <span jhiTranslate="notgen3App.song.home.title">Songs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-song" [routerLink]="['/song/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="notgen3App.song.home.createLabel">
            Create a new Song
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="songs?.length === 0">
        <span jhiTranslate="notgen3App.song.home.notFound">No songs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="songs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.song.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.song.subTitle">Sub Title</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.song.genre">Genre</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.song.composer">Composer</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.song.author">Author</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.song.arranger">Arranger</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.song.year">Year</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.song.publisher">Publisher</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of songs ;trackBy: trackId">
                    <td><a [routerLink]="['/song', song.id, 'view']">{{ song.id }}</a></td>
                    <td>{{ song.title }}</td>
                    <td>{{ song.subTitle }}</td>
                    <td>{{ song.genre }}</td>
                    <td>{{ song.composer }}</td>
                    <td>{{ song.author }}</td>
                    <td>{{ song.arranger }}</td>
                    <td>{{ song.year }}</td>
                    <td>{{ song.publisher }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/song', song.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/song', song.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(song)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
