<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-play-list-entry-heading" jhiTranslate="notgen3App.playListEntry.home.createOrEditLabel">Create or edit a Play List Entry</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="notgen3App.playListEntry.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                           formControlName="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="notgen3App.playListEntry.sortOrder" for="field_sortOrder">Sort Order</label>
                    <input type="number" class="form-control" name="sortOrder" id="field_sortOrder"
                           formControlName="sortOrder"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="notgen3App.playListEntry.bold" for="field_bold">Bold</label>
                    <input type="checkbox" class="form-control" name="bold" id="field_bold"
                           formControlName="bold"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="notgen3App.playListEntry.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="notgen3App.playListEntry.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="notgen3App.playListEntry.playList" for="field_playList">Play List</label>
                    <select class="form-control" id="field_playList" name="playList" formControlName="playList">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="playListOption.id === editForm.get('playList')!.value?.id ? editForm.get('playList')!.value : playListOption" *ngFor="let playListOption of playlists; trackBy: trackById">{{ playListOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
