<div>
    <h2 id="page-heading">
        <span jhiTranslate="notgen3App.playList.home.title">Play Lists</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-play-list" [routerLink]="['/play-list/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="notgen3App.playList.home.createLabel">
            Create a new Play List
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="playLists?.length === 0">
        <span jhiTranslate="notgen3App.playList.home.notFound">No playLists found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="playLists?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.playList.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="notgen3App.playList.comment">Comment</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let playList of playLists ;trackBy: trackId">
                    <td><a [routerLink]="['/play-list', playList.id, 'view']">{{ playList.id }}</a></td>
                    <td>{{ playList.name }}</td>
                    <td>{{ playList.comment }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/play-list', playList.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/play-list', playList.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(playList)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
